* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
    display: flex;
    min-height: 100vh;
    background: #f5f6fa;
}

.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    margin-bottom: 25px;
}

.settings-container {
    background: white;
    padding: 40px;
    border-radius: 12px;
}

.upload-box {
    text-align: center;
    margin-bottom: 40px;
}

.camera {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f1f3f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto 10px;
}

.upload-box p {
    color: #4f7cff;
    cursor: pointer;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
}

.input-group input {
    width: 100%;
    max-width: 360px;
}


.input-group input,
.input-group textarea {
    width: 360px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.textarea textarea {
    height: 100px;
    resize: none;
}

.save-btn {
    display: block;
    margin: 40px auto 0;
    padding: 12px 60px;
    background: #5c84ff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.save-btn:hover {
    background: #4a6fe0;
}